/* font-family: 'Roboto', sans-serif;*/
*,
*::before,
*::after {
box-sizing: border-box;
}

/*---------------------------------------*/
.section-first {
  background-color: #EEEFF1;
}

.container-1110 {
  max-width: 1110px;
  margin: 0 auto;
}

.centred {
  text-align: center;
}
/*---------------------------------------*/

.links-panel {
  padding-left: 0;
}

.list-item {
  display: inline-block;
  margin-right: 42px;
}

.list-item:last-child {
  margin-right: 0;
}

.link {
  color: black;
  text-decoration: none;
}

.link-active {
  color: #34547A;
}