/* font-family: 'Roboto', sans-serif;*/
*,
*::before,
*::after {
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}


/*****************MAIN RULES**********************/
.section {
  background-color: #EEEFF1;
}

.container-1110 {
  max-width: 1110px;
  margin: 0 auto;
}

.centred {
  text-align: center;
}
/*************************************************/


/*---<header>---*/
.nav {
  padding: 79px 0 162px 0;
}

.links-panel {
  padding-left: 0;
}

.list-item {
  display: inline-block;
  margin-right: 42px;
}

.list-item:last-child {
  margin-right: 0;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: black;
  text-decoration: none;
}

.link-active {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #34547A;
}
/*---</header>---*/

/*---<section-1---*/
.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin: 0 0 60px 0;
}

.subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 0 0 65px 0;
  /* padding-right: 1100(all)-540(p)=570px; <--не работает*/
}

.text-me {
  display: inline-block;
  padding: 19px 41px 19px 41px;
  margin-bottom: 141px;
  background-color: #34547A;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
/*---</section-1>---*/

/*---</article>---*/
.title_art {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin: 112px 0 50px 0;
}

.subtitle_art {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 100px;
}
/*---</article>---*/

/*---<section-2>---*/
/*---<header>---*/
.nav2 {
  background-color: #34547A;
  padding: 100px 0 100px 0;
  margin-bottom: 100px;
}

.list-item2 {
  display: inline-block;
  position: relative;
  margin-right: 112px; /*45px margin +67px position*/
}

.list-item2:last-child {
  margin-right: 0;
}

.link2 {
  text-decoration: none;
}

.link2>p {
  margin: 0;
}

.number40 {  
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.link2::before {
  content: url(../images/Group.png);
  position: absolute;
  left: -67px; /*47px(png width) +20(margin)*/
}

.projects {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
/*---</header>---*/

/*---</section-2>---*/